.card_image {
    object-fit: cover;
    width: 250px;
    height: 250px;
    border-radius: inherit;
    z-index: 10;
}

.card_text_color {
    background: linear-gradient(#24252F, #31313F, #242530) no-repeat;
}

.card_text_layout {
    width: 60px;
    height: 60px;
    position: relative;
    top: calc(10px - 250px);
    left: calc(250px - calc(60px * 2));
    z-index: 20;
}

.card_text_border {
    border-radius: 5px;
    padding: 20px;
}

.card_text {
    composes:
        card_text_color card_text_layout card_text_border;
    align-content: center;
    text-align: left;
    box-shadow: #171B2C00 8px 15px 29px 0;
    transition: .4s;
}

.card_arrow {
    position: relative;
    top: calc(-250px - (20px * 2 + 60px) + 4px);
    left: calc(250px - (7px + 20px) - 4px);
    z-index: 30;
    transition: .4s;
}

.card {
    width: 250px;
    height: 250px;
    border-radius: 5px;
    transition: .4s;
}

.card_list {
    padding: 0 200px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 30px;
}

@media (max-width: 660px) {

    .card_arrow_container {
        display: none;
    }

    .card,
    .card_image {
        width: 300px;
        height: 300px;
    }

    .card_text_color {
        background: linear-gradient(transparent, #212231) no-repeat;
    }

    .card_text_layout {
        width: 260px;
        height: 100px;
        top: calc(100px + 30px * 2 - 300px);
        left: 0;
    }

    /* .card_arrow {
        filter: brightness(0) saturate(100%) invert(100%);
    } */
}

@media (max-width: 769px) {
    .card_list {
        padding: 0 30px;
    }
}

@media (max-width: 1199px) and (min-width:770px) {

    .card_list {
        padding: 0 100px;
    }
}

.card:hover {
    box-shadow: #171B2CAB 8px 12px 15px 0;
}

.card:hover .card_text {
    box-shadow: #171B2C69 10px 15px 16px 0;
    text-shadow: #ffffff 1px 1px 10px;
}

.card:hover .card_arrow {
    top: calc(-250px - (20px * 2 + 60px) + 8px);
    left: calc(250px - (7px + 20px) - 8px);
    filter: invert(100%);
}