.form_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 200px 50px 200px;
    gap: 20px;
}

.form_container_inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}

.form_item {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form_check_container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
}

.form_input {
    padding: 5px;
    margin: 0;
    background-color: transparent;
    color: #ffffff;
    border: none;
    outline: 2px solid #ffffff;
    border-radius: 5px;
    height: 30px;
    transition: .4s;
}

.form_input:focus {
    outline: 2px solid #2D76F9;
}

.form_input:hover {
    box-shadow: #2D76F9 1px 1px 10px;
}

textarea.form_input {
    height: 90px;
}

.form_input[type="checkbox"] {
    outline: none;
    margin-right: 5px;
    height: auto;
}

.form_label {
    margin-bottom: 5px;
}

.form_button {
    display: flex;
    justify-content: center;
}

.form_button_input {
    font-size: 1em;
    padding: 10px 50px;
    border-radius: 85px;
    margin: 0;
    border: none;
    color: #ffffff;
    outline: 2px solid #2D76F9;
    background-color: transparent;
    transition: .4s;
}

.form_button_input:hover {
    background-color: #2D76F9;
}

.form_image {
    display: none;
}

@media (max-width: 479px) {

    .form_button_input {
        width: 100%;
    }
}

@media (max-width: 769px) {
    .form_container {
        padding: 0 30px 50px 30px;
    }

    .form_container_inner {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .form_image {
        display: block;
    }
}

@media (max-width: 1199px) and (min-width:770px) {

    .form_container {
        padding: 0 100px 50px 100px;
    }
}