.title_text {
    font-size: 2em;
    font-weight: 600;
}

.title_text_small {
    font-size: 1.5em;
    font-weight: 600;
}

.title_padding {
    padding: 0 200px;
}

@media (min-width: 660px) {
    .title_text_small {
        font-size: 1em;
    }
}